.idea
target
build
out

# Backup file of editor (ie name.md~ file)
*~
# orig are file created by the merge tool
*.orig
# aider files to ignore
.aider*
!.aiderignore

# Node modules
node_modules
# vscode
.vscode
# yarn
.yarn
# astro
.astro
# astro build
dist

# Python
.venv
*.egg-info/
